[submodule "content/themes/casper"]
	path = content/themes/casper
	url = https://github.com/pollbox/ghostblog-Casper.git
[submodule "core/client"]
	path = core/client
	url = https://github.com/pollbox/ghostblog-Admin.git
